.smol {
    padding: 0 10px 0 10px;
}

.title {
    padding: 0 0;
}

.fade {
    position: absolute; /* oh no this is going to go badly */
    top: -6.1rem;
    left: 7.2rem;
    right: 7.2rem;
    height: 6rem;
    background: linear-gradient(0deg, white, transparent);
    pointer-events: none;
}

.post {
    padding: 1rem 2rem;
    /*padding-bottom: 0;*/
    margin-bottom: 0rem;
    border: 1px solid rgba(171,171,171,0.48);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 10rem;
    transition: max-height 0.5s;
    z-index: -1;
}

.post-separator {
    height: 2rem;
    position: relative;
}

.post:hover {
    max-height: 25rem; /* arbitrary, keeps the animation quick */
    transition: max-height 0.3s;
}

.post-title {
    padding-bottom: 0;
}

.time {
    padding-top: 0;
}

.url {
    padding-top: 1rem;
}

.content {
    padding-top: 1rem;
    white-space: normal;
    /*padding-left: 2rem;*/
}

.post-link:hover,
.post-link:visited,
.post-link:active,
.post-link:link,
.post-link {
    text-decoration: none;
    color: #3c3c3d;
}

/*@keyframes fadeIn {
    0% {display: none; opacity:0;}
    1% {display: block; opacity:0;}
    0% {display: block; opacity:1;}
}*/
