.smol {
    padding: 0 10px 0 10px;
}

.title {
    padding: 0 0;
}

.post {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border: 1px solid rgba(171,171,171,0.48);
}

.post-title {
    padding-bottom: 0;
}

.time {
    padding-top: 0;
}

.url {
    padding-top: 1rem;
}

.content {
    padding-top: 1rem;
    /*padding-left: 2rem;*/
}
