{% extends "base.html" %}
{% block title %}Finnbar's site{% endblock %}
{% block content %}
<section class="wrapper-large">
    <h1>Hi!</h1>
    <p>I'm Finnbar Keating, a Computer Science student at Warwick University. There will be a better bio here eventually, I've not written it yet.</p>
    <p>I've dabbled in quite a few different tools and programming languages. You can see the different projects I've done for each of them below:</p>
</section>
<section class="wrapper">
    <!-- TODO: Replace with generated list based on tags present in database, and then maybe something more exciting. Also fix spacing, it's enormous. -->
    <ul>
        <li>Arduino</li>
        <li>Python</li>
        <li>Lua</li>
        <li>..</li>
    </ul>
</section>
<section class="wrapper-large">
    <p>Or if you prefer you can just look at <a href="blog">all of them</a> as one list.</p>
</section>
{% endblock %}
