{% extends "base.html" %}
{% block title %}Finnbar's site{% endblock %}
{% block content %}
<header class="fs-small ta-right smol">
    <a href="/admin">Admin site</a>
</header>
<section class="wrapper-large title">
    <h1>Hi!</h1>
    <p>I'm Finnbar Keating, a Computer Science student at Warwick University. I'm interested in a lot of things, including music (playing trombone and generative music), the design of programming languages, game development (both board and video games), physical computing (and low-level programming in general) and generative systems.</p>
    <p>I've dabbled in quite a few different tools and programming languages. You can see the different projects I've done for each of them below:</p>
</section>
<section class="wrapper">
    <!-- TODO: Maybe replace with something more exciting. Also fix spacing, it's enormous. -->
    <ul>
        {% for tag in tags %}
        <li><a href="blog/{{tag.name}}">{{tag.name}}</a></li>
        {% endfor %}
    </ul>
</section>
<section class="wrapper-large">
    <p>Or if you prefer you can just look at <a href="blog">all of them</a> as one list.</p>
</section>
{% endblock %}
