{% extends "base.html" %}
{% block title %}Finnbar's site{% endblock %}
{% block content %}
<header class="fs-small ta-right smol">
    <a href="/admin">Admin site</a>
</header>
<section class="wrapper-large title">
    <h1>Hi!</h1>
    <p>I'm Finnbar Keating, a Computer Science student at Warwick University. I'm interested in a lot of things, including music (playing trombone and generative music), the design of programming languages, game development (both board and video games), physical computing (and low-level programming in general) and generative systems.</p>
    <p>I've dabbled in quite a few different tools and programming languages. You can see the different projects I've done for each of them below:</p>
</section>
<section class="wrapper">
    <!-- TODO: Maybe replace with something more exciting. Also fix spacing, it's enormous. -->
    <ul>
        {% for tag in tags %}
        <li><a href="blog/{{tag.name}}">{{tag.name}}</a></li>
        {% endfor %}
    </ul>
</section>
<section class="wrapper">
    <svg width="960" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"></svg>
</section>
<section class="wrapper-large">
    <p>Or if you prefer you can just look at <a href="blog">all of them</a> as one list.</p>
</section>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

var svg = d3.select("svg");
var width = +svg.attr("width");
var height = +svg.attr("height");

var node_data = [
    {% for tag in tags %}
    {"name": "{{tag.name}}", "posts": {{tag.post_count()}} },
    {% endfor %}
];

var simulation = d3.forceSimulation()
                   .nodes(node_data);

simulation
    .force("charge_force", d3.forceManyBody())
    .force("center_force", d3.forceCenter(width / 2, height / 2));

var node = svg.append("g")
              .attr("class", "nodes")
              .selectAll("circle")
              .data(node_data)
              .enter()
              .append("svg:a")
              .attr("xlink:href", function(d) { return "/blog/"+d.name; })
              .append("circle")
              .attr("r", function(d) { return 5*d.posts; })
              .attr("fill", "red");

var text = svg.append("g")
              .attr("class", "labels")
              .selectAll("text")
              .data(node_data)
              .enter()
              .append("svg:a")
              .attr("xlink:href", function(d) { return "/blog/"+d.name; })
              .append("text")
              .attr("dx", 12)
              .attr("dy", ".35em")
              .text(function(d) { return d.name; });


function tickActions() {
    node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
    text
        .attr("x", function(d) { return d.x + (5*d.posts); })
        .attr("y", function(d) { return d.y; });
}

simulation.on("tick", tickActions);

</script>
{% endblock %}
