{% extends "base.html" %}
{% block title %}Editing {{post.title}}{% endblock %}
{% block content %}
<header class="fs-small ta-right smol">
    <a href="/admin">Back</a>
    <a href="/logout">Logout</a>
</header>
<section class="wrapper-large title">
    <h1>Editing {{post.title}}</h1>
</section>
<section class="wrapper-large">
    <textarea form="edit" id="content" name="content"></textarea>
    <form action="/admin/update/{{post.id}}" method="POST" id="edit" onsubmit="needConfirm = false;">
        <label class="title">
            <input type="text" name="title" value="{{post.title}}" />
            <span class="title__label">Title</span>
        </label>
        <label class="url">
            <input type="text" name="url" value="{{post.mainurl}}" />
            <span class="url__label">URL</span>
        </label>
        <label class="tags">
            <input type="text" name="tags" value="{% if post.id != 0 %}{% for tag in post.tags %}#{{tag.name}} {% endfor %}{% endif %}" />
            <span class="tags__label">Tags (denoted by #tag)</span>
        </label>
        <br />
        <input type="submit" value="Save" />
    </form>
</section>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
var needConfirm = true;
var simplemde = new SimpleMDE();
simplemde.value(`{{post.content|replace("`", "\`")}}`);

window.onbeforeunload = function() {
    if (simplemde.value() != "" && needConfirm) {
        return "Are you sure you want to leave this page? Your edits will not be saved.";
    } else {
        return null;
    }
    // Neither the textarea is empty or we don't needConfirm
}
</script>
{% endblock %}
