{% extends "base.html" %}
{% block title %}Finnbar's site{% endblock %}
{% block content %}
<header class="ta-right fs-small smol">
</header>
<section class="wrapper-large title">
    <h1>Hi!</h1>
    <p>I'm Finnbar Keating, a Computer Science student at Warwick University. I'm interested in a lot of things, including music (playing trombone and generative music), the design of programming languages, game development (both board and video games), physical computing (and low-level programming in general) and generative systems.</p>
    <p>I've dabbled in quite a few different tools and programming languages. You can see the different projects I've done for each of them below. There's also a network thing written in d3.js, linking tags together if they share at least one post between them.</p>
</section>
<section class="wrapper">
    <section class="grid">
        <div>
            <ul>
                {% for tag in tags %}
                <li><a href="blog/{{tag.name}}">{{tag.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <svg width="500" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"></svg>
        </div>
    </section>
</section>
<section class="wrapper-large">
    <p>Or if you prefer you can just look at <a href="blog">all of them</a> as one list.</p>
</section>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

window.onload = function() {
    var svg = d3.select("svg");
    var width = +svg.attr("width");
    var height = +svg.attr("height");

    var node_data = [
        {% for tag in tags %}
        {"name": "{{tag.name}}", "posts": {{tag.post_count()}}, "id": {{tag.id}} },
        {% endfor %}
    ];

    var links_data = [
        {% for data in tag_links %}
        {"source": {{data['source']}}, "target": {{data['target']}}, "value": {{data['value']}} },
        {% endfor %}
    ];

    var simulation = d3.forceSimulation()
                       .nodes(node_data);

    var link_force = d3.forceLink(links_data)
                     .id(function(d) { return d.id; })
                     .distance(function(l) { return Math.max(l.source.posts,l.target.posts)*30; });

    var many_body = d3.forceManyBody()
                     .strength(function(d) { return (d.posts/{{number_of_posts}})*-500; });

    simulation
        .force("charge_force", many_body)
        .force("center_force", d3.forceCenter(width / 2, height / 2))
        .force("links", link_force);

    var link = svg.append("g")
                  .attr("class", "links")
                  .selectAll("line")
                  .data(links_data)
                  .enter()
                  .append("line")
                  .attr("style", function(d) { return "stroke:black; stroke-width:"+(d.value/2)+";"; });

    var node = svg.append("g")
                  .attr("class", "nodes")
                  .selectAll("circle")
                  .data(node_data)
                  .enter()
                  .append("svg:a")
                  .attr("xlink:href", function(d) { return "/blog/"+d.name; })
                  .append("circle")
                  .attr("r", function(d) { return radius(d.posts); })
                  .attr("fill", "white")
                  .attr("stroke", "black")
                  .attr("style", "opacity: 0.5;");

    var text = svg.append("g")
                  .attr("class", "labels")
                  .selectAll("text")
                  .data(node_data)
                  .enter()
                  .append("svg:a")
                  .attr("xlink:href", function(d) { return "/blog/"+d.name; })
                  .append("text")
                  .attr("dx", function (d) { return -radius(d.posts); })
                  .attr("dy", "0.3em")
                  .attr("style", function(d) { return "font-size: "+(d.posts/{{number_of_posts}})*80+"px; text-anchor: middle;"; })
                  .text(function(d) { return d.name; });

    function radius(posts) {
        return 10*posts;
    }

    function insideBoxX(x,r) {
        return Math.min(Math.max(x,r),width-r);
    }

    function insideBoxY(y,r) {
        return Math.min(Math.max(y,r),height-r);
    }

    function tickActions() {
        link
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });
        node
            .attr("cx", function(d) { return d.x = insideBoxX(d.x, radius(d.posts)); })
            .attr("cy", function(d) { return d.y = insideBoxY(d.y, radius(d.posts)); });
        text
            .attr("x", function(d) { return d.x + radius(d.posts); })
            .attr("y", function(d) { return d.y; });
    }

    simulation.on("tick", tickActions);
}
</script>
{% endblock %}
