{% extends "base.html" %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
<header class="ta-right fs-small smol">
</header>
<section class="wrapper-large post-focus">
    <h2 class="post-title fw-bold">{{post.title}}</h2>
    <div class="time fs-small">
        posted in {% for tag in post.tag_names() %}<a href="/blog/{{tag}}">{{tag}}</a>{% if loop.last %}{% else %}, {% endif %}{% endfor %} at {{post.date.strftime("%d %B %Y")}}
    </div>
    <div class="content">
        {{post.content|markdown}}
    </div>
    <div class="url">
        <p><strong>URL:</strong> <a href="{{post.mainurl}}">{{post.mainurl}}</a></p>
    </div>
</section>
{% endblock %}
